Polygons crossing the 180th meridian aren't intersected correctly

**Describe the bug**
A polygon that should cross the 180th meridian will in fact take the long way around.

**To Reproduce**
```console
> SET landsat 16_122 OBJECT {"type":"Polygon","coordinates":[[[-178.785,-80.929],[-177.567,-82.68],[169.654,-82.68],[170.873,-80.929],[-178.785,-80.929]]]}
{"ok":true,"elapsed":"59.889µs"}
> GET landsat 16_122
{"ok":true,"object":{"type":"Polygon","coordinates":[[[-178.785,-80.929],[-177.567,-82.68],[169.654,-82.68],[170.873,-80.929],[-178.785,-80.929]]]},"elapsed":"32.97µs"}
```

**Expected behavior**
Intersecting the polygon's centre should produce a result, but doesn't. Intersecting a location east of the polygon, however, _does_ produce a result.
```console
> INTERSECTS landsat CIRCLE -81.844418 176.043772 1000
{"ok":true,"fields":[],"objects":[],"count":0,"cursor":0,"elapsed":"58.529µs"}
> INTERSECTS landsat CIRCLE -81.844418 -176.043772 1000
{"ok":true,"fields":],"objects":[{"id":"16_122","object":{"type":"Polygon","coordinates":[[[-178.785,-80.929],[-177.567,-82.68],[169.654,-82.68],[170.873,-80.929],[-178.785,-80.929]]]},"fields":[]}],"count":1,"cursor":0,"elapsed":"104.099µs"}
```

**Operating System (please complete the following information):**
 - OS: Linux
 - CPU: amd64
 - Version: 1.25.1
 - Container: Docker


Tile38 works with GeoJSON geometries that are contained within the [-180,-90] [+180,+90] boundary. Tile38 will interpret the polygon that you provided like this:

<img width="307" alt="image" src="https://user-images.githubusercontent.com/1156077/186800894-e734f797-04e3-466e-a1bf-731d32c19d9c.png">

[RFC 7946 Section 3.1.9](https://tools.ietf.org/html/rfc7946#section-3.1.9) states:

> Any geometry that crosses the antimeridian SHOULD be represented by cutting it in two such that neither part's representation crosses the antimeridian.

If you clip that polygon the GeoJSON would be something like:

```json
{
  "type": "MultiPolygon",
  "coordinates": [[
    [
      [ -180, -80.929 ],
      [ -178.785, -80.929 ],
      [ -177.567, -82.68 ],
      [ -180, -82.68 ],
      [ -180, -80.929 ]
    ], [
      [ 169.654, -82.68 ],
      [ 180, -82.68 ],
      [ 180, -80.929 ],
      [ 170.873,-80.929 ],
      [ 169.654, -82.68 ]
    ]
 ]]
}
```

which looks more like this:

<img width="307" alt="image" src="https://user-images.githubusercontent.com/1156077/186800980-6e73a31a-509f-437d-a0f6-f4fbb5efd739.png">






Ok, that's something I have to fix on my end then. Thanks.